.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#main {
    display: flex;
    justify-content: space-evenly;
    padding: 3em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(236, 229, 234, 0.952);
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: darkslategrey;
}

.mycontainer {
    display: flex;
}

.mycontainer>div {
    width: 50%;
}

.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: rgb(224, 224, 5);
}

pre {
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns each taking up equal space */
    gap: 20px;
    /* Gap between each grid item */
}

.item {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.section-header {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.section-text {
    font-size: 1em;
    line-height: 1.5;
    background-color: white;
}

.company {
    font-size: 0.8em;
    margin-bottom: 5px;
    color: #999;
}